.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #874C62;
}

.thirdPartyLoginButton{
  border-radius: 0.625rem;
  top: 3.5rem;
}

.facebook{
  margin-top: 2.7rem;
}

.verticalLine {
  border-left: medium solid rgb(150, 145, 145);
}

.secretUserName{
  text-align: center;
  font-size: 1.5rem;
  background-color: #F2D388;
  color: #000;
}

footer{
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
