
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.thirdPartyLoginButton{
  border-radius: 0.625rem;
  top: 3.5rem;
}

.facebook{
  margin-top: 2.7rem;
}

.verticalLine {
  border-left: medium solid rgb(150, 145, 145);
}
